#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem;
  text-align: center;
}

.choice-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.choice-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  padding: 15px;
}

.choice-box.selected {
  background-color: #84ad69;
}
